@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Righteous&display=swap');

body{
    top: 0;
    margin-top: 8%;
    min-height:100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('../img/fondo_producto.jpg');
    background-size: cover;
}
header{
    background-color: #2a004f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
/*logo*/
header .logo{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
header .logo h1{
    color: white;
    font-family: sans-serif;

}
header .logo img{
    width: 100px;
    border-radius: 20px;
    margin: 0;
}
/*barra navegacion*/
header nav{
    margin-right:70px;
}
header nav ul li i{
    color: aliceblue;
    cursor: pointer;
    transition: 0.3s;
}
header nav li i:hover{
    color: rgb(255, 255, 255);
}
header nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li a{
    color: rgb(255, 255, 255);
    margin: 5px;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 40px;
    font-family: "miniver"sans-serif;
    
}
header nav ul li a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 8px 13px;
}
.carrito{
    color: #fff;
    position: absolute;
    left: 97%;
    font-size: 17px;
}
/*contenido principal*/
.container-section .container h1{
    text-align: center;
    margin: 130px;
    font-size: 50px; 
    color: #ffffff;
    font-family: "miniver" sans-serif;
}
.container-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px 4px;
    width: 70%;
    margin: 2% 490px;
}
.container-img .img{
    background:linear-gradient(to right, #000000,#ffffffd8);
    padding: 10px 10px;
    text-align: center;
    height: 500px;
    width: 350px;
    border-radius: 20px;
    background-size:250%;
    color: #fff;
    font-family: 'miniver' sans-serif;
    transition: all 0.3s;
}
.container-img .img:hover{
    transform: scale(1.2);
}
.container-img .img img{
    height: 350px;
    width: 350px;
    border-radius: 30px;

}
.container-img .botones button{
    background: #ffffff;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    transition: all 0.3s ease;
    margin: 10px;
}
.container-img .botones button:hover{
    transform:scale(1.1);
    color: #000000;
}
@media (max-width:728px){
    .container-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 60px 4px;
        width: 90%;
        margin: 2% 80px;
    }
    .container-section .container h1{
        text-align: center;
        margin: 20px;
        font-size: 30px; 
    }
    header nav{
        margin-right:20px;
    }
    header .logo img{
        width: 80px;
    }
    .carrito{
        left: 90%;
        font-size: 15px;
    }
}